#export CLUSTERED_MODE=false
export CL=false
# shellcheck disable=SC2046
# shellcheck disable=SC2002
export $(cat .env | xargs)
#export HAPI_DB_SET=$(ip route show | grep -i default | awk '{ print $3}'):5432